<h2 mat-dialog-title>Search for contact</h2>
<mat-dialog-content>
  <h3>Search for a user</h3>
  <mat-list>
    <mat-card *ngFor="let user of users | async">
      <mat-card-header>
        <mat-card-title>{{user.firstname + ' ' + user.lastname}}</mat-card-title>
        <mat-card-subtitle> {{user.username}} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
          <button *ngIf="authService.getCurrentUserId() !== user.id" mat-button color="primary" [mat-dialog-close]="user.id">Start Conversation</button>
      </mat-card-actions>
    </mat-card>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="null">Close</button>
</mat-dialog-actions>